#creature{
    article {
        padding-bottom: 4em;
        width: 250px;
    }

    .auteur{
        position:absolute;
        top:5px;
        left:2em;
    }

    .btn-modif{
        left:1em;
        position:absolute;
        bottom:1em;
    }

    .btn-suppr{
        right:1em;
        position:absolute;
        bottom:1em;
    }
}