/* FORM STYLE */

form {
    width: 300px;

    input,select {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 3px solid $beige;
        transition: .3s border-color;
        background-color: rgb(255, 255, 243);
        font-family: calibri;
    }
    
    input:hover {
        border: 3px solid #aaa;
    }

    textarea{
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 3px solid $beige;
        background-color: rgb(255, 255, 243);
        font-family: calibri;
    }

    button {
        /* remove default behavior */
        appearance: none;
        -webkit-appearance: none;
    
        /* usual styles */
        font-weight: 600;
        border-radius: 5px;
        width: 50%;
        transition: all ease-in-out 0.3s;
    }
    
    button:hover {
        opacity: 80%;
        cursor: pointer;
        
    
    }

    .ckinput{
        width: 40%;
        display:inline-block;
    }
}


