#magie{
    article{
        display:flex;
        justify-content: space-around;
        height: 100px;
        width: 45vw;
        
        img{
            height: 100px;
            width: 100px;
            object-fit: contain;
            margin-right: 2em;
        }

        div{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
        }

        >div:first-of-type{
            width: 60%;
        }
    }

    .btn_box{
        margin-left: auto;
        height: 100%;
    }

}

.lumiere{
    box-shadow: 0px 0px 5px yellow;
}

.feu{
    box-shadow: 0px 0px 5px red;
}

.eau{
    box-shadow: 0px 0px 5px blue;
}